<div class="container-fluid">
  <div class="position-relative mb-4">
    <div class="text-center">
      <h1>Nueva cotización</h1>
    </div>
    <%= link_to quotes_path, class: 'btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y' do %>
      <i class="bi bi-arrow-left"></i> Volver
    <% end %>
  </div>

  <!-- Vue app mount point -->
  <div id="quote-form-app" 
    data-available-products="<%= @products.to_json(methods: [:formatted_description], except: [:created_at, :updated_at]) %>"
    data-quote="{}"
    data-edit-mode="false">
  </div>
</div>

<!-- CSRF token -->
<%= tag.meta name: "csrf-token", content: form_authenticity_token %>

<!-- Load Vue app -->
<%= javascript_pack_tag 'quote_form' %> 