<% content_for :page_title do %>
  Nueva cotización
<% end %>

<% content_for :page_actions do %>
  <%= link_to quotes_path, class: "btn btn-outline-light me-2" do %>
    <i class="fa fa-arrow-left me-1"></i> Cancelar
  <% end %>
  <button type="button" class="btn btn-outline-light" id="save-quote-button">
    <i class="fa fa-save me-1"></i> Guardar cotización
  </button>
<% end %>

<div class="container-fluid h-100 overflow-auto py-4">
  <!-- Vue app mount point -->
  <div id="quote-form-app" 
    data-available-products="<%= @products.to_json(methods: [:formatted_description], except: [:created_at, :updated_at]) %>"
    data-quote="{}"
    data-edit-mode="false">
  </div>
</div>

<!-- CSRF token -->
<%= tag.meta name: "csrf-token", content: form_authenticity_token %>

<!-- Load Vue app -->
<%= javascript_pack_tag 'quote_form' %> 