<%# Show subnavbar when user is logged in and not on home page, or on about page, or on demo_requests %>
<% if (user_signed_in? && !(controller_name == 'home' && action_name == 'index')) || (controller_name == 'home' && action_name == 'about') || controller_name == 'demo_requests' %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark subnavbar">
  <div class="container-fluid py-0">
    <div class="subnavbar-title">
      <div class="title-text">
        <%= yield :page_title || 'Cotalo' %>
      </div>
    </div>
    <div class="subnavbar-actions">
      <div class="actions-container">
        <%= yield :page_actions %>
      </div>
    </div>
  </div>
</nav>
<% end %>