<div class="row">
  <div class="col-12 mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Editar margen de precio</h1>
      <%= link_to price_margins_path, class: "btn btn-outline-secondary" do %>
        <i class="fa fa-arrow-left me-1"></i> Volver
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>Detalles del margen</h5>
      </div>
      <div class="card-body">
        <%= render 'form', price_margin: @price_margin %>
      </div>
    </div>
  </div>
</div>
