<% content_for :page_title do %>
  Editar Material
<% end %>

<% content_for :page_actions do %>
  <%= button_tag "Guardar", class: "btn btn-outline-light", form: "material-form", type: "submit" %>
<% end %>

<div class="container-fluid">
  <%= render "form", material: @material %>
</div>
