<!-- Container to match form width -->
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="position-relative mb-4">
        <div class="text-center">
          <h1 class="text-light">Nuevo material</h1>
        </div>
        <%= link_to materials_path, class: "btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y" do %>
          <i class="fa fa-arrow-left me-1"></i> Volver
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Include Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- Main content container -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card shadow-sm" style="border-left: 4px solid #28a745;">
        <div class="card-body p-4">
          <%= render 'form', material: @material %>
        </div>
      </div>
    </div>
  </div>
</div>
