<% content_for :page_title do %>
  Nuevo material
<% end %>

<% content_for :page_actions do %>
  <%= link_to materials_path, class: "btn btn-outline-light me-2" do %>
    Cancelar
  <% end %>
  <%= button_tag class: "btn btn-outline-light", form: "material-form" do %>
    Guardar
  <% end %>
<% end %>

<div class="row">
  <div class="col-12">
    <div class="card green-accent-panel">
      <div class="card-header">
        <h5>Detalles del material</h5>
      </div>
      <div class="card-body">
        <%= render 'form', material: @material %>
      </div>
    </div>
  </div>
</div>

<!-- Include Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
