<% content_for :page_title do %>
  Nuevo producto
<% end %>

<% content_for :page_actions do %>
  <%= link_to products_path, class: "btn btn-outline-light me-2" do %>
    <i class="fa fa-arrow-left me-1"></i> Volver
  <% end %>
  <button type="button" class="btn btn-primary" id="save-product-button">
    <i class="fa fa-save me-1"></i> Guardar producto
  </button>
<% end %>

<!-- Vue app mount point -->
<div id="product-form-app" data-product-id=""></div>

<!-- API token for authentication -->
<%= tag.meta name: "csrf-token", content: form_authenticity_token %>

<!-- Load Vue app -->
<%= javascript_pack_tag 'product_form' %> 